@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background-color: #020617; /* Tailwind's slate-950 */
  background-image: radial-gradient(at 0% 0%, hsla(215, 68%, 26%, 0.2) 0px, transparent 50%),
                    radial-gradient(at 100% 0%, hsla(243, 73%, 41%, 0.2) 0px, transparent 50%);
}

@keyframes background-pan {
  from { background-position: 0% center; }
  to { background-position: -200% center; }
}

.animated-gradient {
  background-size: 200%;
  animation: background-pan 5s ease-in-out infinite alternate;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up-1 {
  opacity: 0;
  animation: fade-in-up 0.6s ease-out forwards;
}

.fade-in-up-2 {
  opacity: 0;
  animation: fade-in-up 0.6s ease-out 0.2s forwards;
}
